.flex-cols {
  display: flex;
  flex-flow: row wrap;
  gap: 2em;
}

.flex-cols > * {
  flex: 1 100%;
}

.aside-col {
  font-size: 80%;
}
/* Medium screens */
@media all and (min-width: 38em) {
  .aside-col {
    flex: 1 min-content;
}
}

@media screen and (min-width: 60em) {
  .center-col {
    flex: 4 33%;
}
}
