<h1>{{ title }}</h1>
<div class="flex-cols">
<div class="aside-col toc">{{ toc }}</div>
<div class="center-col">
    {% if metadata%}
      {% if metadata.isDevContent %}
        <b>{% trans %}Note: This documentation is for developers{% endtrans %}</b>
      {% endif %}
    {% endif %}
    <div class="summary">{{ summary }}</div>
    <div class="content">{{ content }}</div>
    </div>
  <div class="aside-col other-pages">
    <h2>{% trans %}Other pages{% endtrans %}</h2>
    {{ other_pages }}
  </div>
</div>
{% if wiki_origin %}
  <small>(Original content in <a href="{{ wiki_origin }}" target='_blank'>{{ wiki_origin }})</small>
{% endif %}
